.centerheader {
	text-align: center;
}
.mainBody {
	margin-left: 22%;
	margin-right: 22%;
}
* {
	background:#e6e2d3;
}
.rightheader {
	text-align: right;
}
.rightheader p {
	margin: 0px;
}
.leftheader {
	text-align: left;
}
.leftheader p {
	margin: 0px;
}
button {
	color:#fff;
	background:#b9936c;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
